@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>More Index page!</h1>
    <p>
        <strong>Id:</strong> @ViewBag.Id
    </p>
    </div>
</body>
</html>
